body {
  font-family: sans-serif;
  font-size: 13pt;
  margin: 0;

  color: #111;
  background-color: #fbfbfb;

  line-height: 1.5;
}

time {
  font-family: monospace;
}

a, a:visited {
  color: #431cff;  /* a sort of a purplish dark blue */
}

body > header {
  padding: 1em;
  text-align: center;
  font-size: .7em;
}

body > header > a {
  color: black !important;
  font-family: serif;
  font-size: 3rem;
  text-decoration: none;

  padding: 0 .18em;

  border: 3px solid black;
  border-top: none;
  border-bottom: none;
}

body > header > a > b {
  color: gray;
  text-decoration: underline;
  font-weight: normal;
}

body > header > ul {
  padding: 0;
  list-style: none;
}

body > header li {
  display: inline;
}

body > header li + li::before {
  content: " | ";
}

body > main {
  padding: 1em;
}

body > footer {
  font-size: .8em;
  text-align: center;
  color: gray;
  font-style: italic;
}

body > footer ul {
  padding: 0;
  list-style: none;
}

body > footer li li {
  display: inline;
}

body > footer li li + li::before {
  content: " | ";
}

body > footer a {
  color: #6d6dff !important;
}

body > footer hr {
  border-top: none;
}
