:root {
  font-size: 13pt;
  font-family: "Merriweather Sans", "Ubuntu", "Helvetica", "Arial", sans-serif;
  --bg: white;
  --fg: black;
  --hi: #EE4B6A;
  --hi-alt: #F08296;
  --link-color: var(--hi);
  --headline-color: var(--hi);
  --text-color: var(--fg);
  --body-color: var(--bg);
  --bg-color: var(--bg);
}

::selection, ::-moz-selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}

time {
  font-family: "Merriweather Sans", "Ubuntu", "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
}

@media only print {
  body, main {
    background-color: transparent !important;
  }

  main {
    box-shadow: none !important;
  }

  body > footer {
    display: none !important;
  }

  .translation-pager {
    display: none !important;
  }

  .tab-bar {
    display: none !important;
  }
}
body {
  background-color: var(--body-color);
  background-image: url(/img/background.png);
  color: var(--text-color);
}

.split-v > *:not(:first-child) {
  border-top: 4px solid var(--hi);
}

@keyframes target-pulse {
  0%, 100% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0 0 5px black;
  }
}
*:target {
  animation-timing-function: linear;
  animation-name: target-pulse;
  animation-duration: 3s;
}

a, a:visited {
  color: var(--link-color);
}

a, abbr {
  text-decoration-thickness: 0.1em;
}

a.logo {
  display: block;
}
a.logo > img {
  width: 100%;
  max-height: 8rem;
}

h1 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 3rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h1 + p {
  margin-top: 0;
}

h2 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 2.2rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h2 + p {
  margin-top: 0;
}

h3 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 1.6rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h3 + p {
  margin-top: 0;
}

h4 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 1.2rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h4 + p {
  margin-top: 0;
}

h5 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 1rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h5 + p {
  margin-top: 0;
}

h6 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 1rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h6 + p {
  margin-top: 0;
}

body {
  display: grid;
  max-width: 100vw;
  gap: 2rem;
}

main > *:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 1200px) {
  body {
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "topnav content" "empty content" "empty additional" "empty footer";
    padding: 1rem 10rem;
  }
  body > header {
    grid-area: topnav;
  }
  body > .content {
    grid-area: content;
  }
  body > footer {
    grid-area: footer;
  }
  body .yw-webring {
    grid-area: additional;
  }

  .split-v {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .split-v > *:not(:first-child) {
    border-top: none;
  }
}
body > header,
body > .content,
body > footer {
  background-color: var(--bg-color);
  padding: 1em;
  overflow: auto;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 3px 3px 4px 0 #00000055;
}

body > .content {
  padding: 0;
}
body > .content > main {
  padding: 1em 1.5em;
}

body > footer {
  text-align: center;
  font-size: 0.8rem;
}
body > footer, body > footer a, body > footer a:visited {
  color: #777;
}

body > .content > .tab-bar {
  background: none;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid var(--hi);
  white-space: nowrap;
  overflow-x: auto;
}
body > .content > .tab-bar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body > .content > .tab-bar > ul > li, body > .content > .tab-bar > ul > a > li {
  display: inline-block;
}
body > .content > .tab-bar > ul > *:not(:last-child) {
  margin-right: 0;
}
body > .content > .tab-bar > ul a {
  margin: 0;
  font-size: 0.8em;
  padding: 0.5em 1em;
  color: var(--hi);
  background-color: var(--bg);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
body > .content > .tab-bar > ul a[aria-current=page] {
  background-color: var(--hi);
  color: var(--bg);
}

.translation-pager {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.8em;
  padding: 6px;
  color: var(--hi);
  background-color: var(--bg);
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
}
.translation-pager[aria-current=page] {
  background-color: var(--hi);
  color: var(--bg);
}

.translation-pager-fallback {
  display: flex;
  flex-direction: column;
  list-style: none;
}

body > header hr,
body > footer hr {
  display: none;
}

.inset {
  padding: 1rem;
  border-left: 4px solid var(--hi);
}

a.more-link, a.more-link:visited {
  font-size: 0.8em;
  padding: 6px;
  color: var(--bg);
  background-color: var(--hi);
  text-align: center;
  text-decoration: none;
  display: block;
}
a.more-link[aria-current=page], a.more-link:visited[aria-current=page] {
  background-color: var(--bg);
  color: var(--hi);
}

.yw-webring {
  background-color: var(--bg-color);
  padding: 1em;
  overflow: auto;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 3px 3px 4px 0 #00000055;
  margin: auto;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .yw-webring {
    width: 60%;
  }
}
.yw-webring .links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.yw-webring .links > * {
  font-size: 0.8em;
  padding: 6px;
  color: var(--bg);
  background-color: var(--hi);
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  text-decoration: none;
}
.yw-webring .links > *[aria-current=page] {
  background-color: var(--bg);
  color: var(--hi);
}
.yw-webring .links > *:first-child {
  border-right: 3px solid var(--bg);
}
.yw-webring .links > *:last-child {
  border-left: 3px solid var(--bg);
}

/*# sourceMappingURL=index.css.map */
