:root {
  --text-color: black;
  --link-color: #717C89;
  --bg-color: #ADF6B1;
  --bg-border-radius: 10px;
  --bg-shadow: 1px 1px 3px #555;
}

body {
  background: url("/css/themes/about/bg.png"), linear-gradient(120deg, rgba(144,186,173,1) 0%, rgba(173,246,177,1) 100%);;
}

main {
  padding: 1em;
}
