{% from "date.njk" import showDate %}

{% macro showPostHeader(post, locale, link = true) %}
  <div>
    {% if "locale" in post.data and locale != post.data.locale %} <span class="post-lang">{{ post.data.locale | getLang }}</span> &bull; {% endif %}
    {{- showDate(post.data.date, class = "post-date") -}}
  </div>

  {% if link %} <a class="post-title-link" href="{{ post.url }}"> {% endif %}
    <h2 class="post-title">{{ post.data.title | renderMD }}</h2>
  {% if link %} </a> {% endif %}

  {%- if post.data.subtitle %}
    <h3 class="post-subtitle" role="doc-subtitle">{{ post.data.subtitle | renderMD }}</h3>
  {% endif -%}

  <ul class="post-tags">
    {% for tag in post.data.tags %}
        {% if tag == "poem" %}
          <a href="/poems/{{ 'cs' if locale == 'cs' else '' }}"> {#- -#}
            <li>{{ tag | t(locale) }}</li>
          </a>
        {%- elif tag == "blog" %}
          <a href="/blog/{{ 'cs' if locale == 'cs' else '' }}"><li>{{ tag | t(locale) }}</li></a>
        {%- else -%}
          <li>{{ tag | t(locale) }}</li>
        {%- endif -%}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro showPost(post, locale) %}
  <li>{{ showPostHeader(post, locale, true) }}</li>
{% endmacro %}

{% macro showPostListPreview(posts, count, locale) %}
  <article class="inset">
    <ul class="post-list">
      {% for post in posts | jsSlice(0, count) %}
        {{ showPost(post, locale) }}
      {% endfor %}
    </ul>
    <a class="more-link" href="/all/{{ '' if locale == 'en' else locale }}">
      {{- "all posts" | t(locale) | lcapitalize(locale) -}}
    </a>
  </article>
{% endmacro %}
