{% macro webring(locale) %}
  <aside class="yw-webring">
    <div>
      {% if locale == "cs" %}
        Tato stránka je součástí
      {% elif locale == "tok" %}
        lipu ni li lon
      {% else %}
        This website is part of the
      {% endif %}

      <a href="https://yesterweb.org/webring/">
        {%- if locale == "cs" -%}
          webringu YesterWebu.
        {%- elif locale == "tok" -%}
          lipu YesterWeb webring.
        {%- else -%}
          YesterWeb webring.
        {%- endif -%}
      </a>
    </div>
    <ul class="links">
      <a href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://yearebase.github.io/"><li>←</li></a>
      <a href="https://webring.yesterweb.org/noJS/index.php?d=rand&url=https://yearebase.github.io/"> {#- -#}
        <li> {#- -#}
          {%- if locale == "cs" -%}
            Náhodná
          {%- else -%}
            Random
          {%- endif -%}
        </li> {#- -#}
      </a>
      <a href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://yearebase.github.io/"><li>→</li></a>
    </ul>
  </aside>
{% endmacro %}
