:root {
  --link-color: #2d3f28;
  --bg-color: #70a960;
  --bg-shadow: 0 0 5px 3px #2b623b9c;
  --bg-border-image: url("/css/themes/plant/border.png") 32 / 32px / 32px round;
  --text-color: #000a04
}

body {
  background: url("/css/themes/plant/bg.png");
}

@media only screen and (max-width: 800px) {
  main { margin-top: 4rem; }
}
