@use "sass:list";

@use "responsive";
@use "buttons";

// thank you <https://randoma11y.com/> :)
$primary: #7dbea6;
$secondary: #1d036d;

:root {
  font-size: 14pt;
  font-family: 'Ubuntu', 'Arial', 'Helvetica', sans-serif;

  --link-color: #{$secondary};
  --headline-color: #{$secondary};
  --text-color: black;
  --bg: #{$primary};
  --bg-shadow-color: #{darken($primary, 20%)};
  --bg-border: none;
  --bg-border-image: none;
  --bg-border-radius: 0;
}

::selection, ::-moz-selection {
  background-color: var(--headline-color);
  color: var(--bg);
}

@media only print {
  body, main { background-color: transparent !important; }

  main { box-shadow: none !important; }

  body > header, body > footer { display: none !important; }
}

body { background: $secondary; }

*:target::after {
  content: "â†";
  margin-left: .4em;
}

a, a:visited { color: var(--link-color); }

a.logo {
  display: block;
  text-align: center;

  color: var(--headline-color);
  font-family: 'Outward', sans-serif;
  font-size: 128pt;
  text-decoration-thickness: 16px;
}

// Headlines {{{

$headline-font-sizes: [3rem, 2.5rem, 1.8rem, 1.4rem, 1.2rem, 1rem];

@for $i from 1 through 6 {
  h#{$i} {
    font-size: list.nth($headline-font-sizes, $i);
    margin: .3em 0;
    color: var(--headline-color);
  }

  h#{$i} + p {
    margin-top: 0;
  }
}

// }}}

body {
  display: grid;
  gap: 2rem;
}

main > *:first-child { margin-top: 0; }

@include responsive.desktop() {
  body {
    grid-template-columns: 282px 1fr;
    grid-template-areas:
      "topnav content"
      "sidebar content"
      "footer footer";
    padding: 1rem 10rem;

    > header { grid-area: topnav; }
    > aside.sidebar { grid-area: sidebar; }
    > main { grid-area: content; }
    > footer { grid-area: footer; }
  }
}

body > header {
  > nav > ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 0;
    list-style: none;

    > * {
      flex-grow: 1;
      @include buttons.empty(var(--headline-color), var(--bg));
    }
  }

  > a:last-child {
    @include buttons.empty(var(--headline-color), var(--bg));
    display: block;
    margin: 0;
    border-top: none;
  }
}

body > header,
main,
body > footer {
  background: var(--bg);
  padding: 1em;
  box-shadow: 8px 8px 0 var(--bg-shadow-color);
}

body > footer > hr {
  display: none;
}

// Extra {{{
.inset {
  border: 5px inset var(--headline-color);
  padding: 1em;
}

.more-link {
  @include buttons.empty(var(--headline-color), var(--bg))
}

// }}}
