@use "sass:list";

@use "responsive";
@use "buttons";
@use "util";

$fontSans: 'Libre Franklin', 'Ubuntu', 'Helvetica', 'Arial', sans-serif;

:root {
  font-size: 14pt;
  font-family: $fontSans;

  --bg: white;
  --fg: black;
  --hi: #EE4B6A;
  --hi-alt: #F08296;

  --link-color: var(--hi);
  --headline-color: var(--hi);
  --text-color: var(--fg);
  --body-color: var(--bg);

  --bg-color: var(--bg);
}

// selection colours
::selection, ::-moz-selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}

time {
  font-family: $fontSans;
  font-size: .8em;
}

// Print layout {{{
@media only print {
  body, main { background-color: transparent !important; }

  main { box-shadow: none !important; }

  body > header, body > footer { display: none !important; }
}
// }}}

body {
  background: var(--body-color);
  color: var(--text-color);
}

.split-v > *:not(:first-child) {
  border-top: 4px solid var(--hi);
}

*:target::after {
  content: "â†";
  margin-left: .4em;
}

a, a:visited {
  color: var(--link-color);
}

a, abbr {
  text-decoration-thickness: .1em;
}

a.logo {
  display: block;
  > img {
    width: 100%;
    max-height: 8rem;
  }
}

// Headlines {{{

$headline-font-sizes: (3rem, 2.2rem, 1.6rem, 1.2rem, 1rem, 1rem);

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Xanh Mono', monospace;
    font-size: list.nth($headline-font-sizes, $i);
    margin: .3em 0;
    color: var(--headline-color);
  }

  h#{$i} + p {
    margin-top: 0;
  }
}

// }}}

body {
  display: grid;
  max-width: 100vw;
}

main > *:first-child { margin-top: 0; }

// Desktop layout {{{
@include responsive.desktop() {
  body {
    gap: 2rem;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "topnav content"
      "empty content"
      "empty footer";
    padding: 1rem 10rem;

    > header { grid-area: topnav; }
    > .content { grid-area: content; }
    > footer { grid-area: footer; }
  }

  .split-v {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > *:not(:first-child) { border-top: none; }
  }
}
// }}}

body > header,
body > .content,
body > footer {
  overflow: auto;
  background: var(--bg-color);
  padding: 1em;
  max-width: 100%;
}

body > .content {
  padding: 0;
  > main {
    padding: 1em;
  }
}

body > footer {
  text-align: center;
  font-size: .8rem;

  &, & a, & a:visited {
    color: #777;
  }
}

// Tabs {{{
body > .content > .tab-bar {
  background: none;
  //background-color: var(--body-color);
  width: 100%;
  margin: 0;
  border-bottom: 1px solid var(--hi);

  white-space: nowrap;
  overflow-x: auto;

  > ul {
    @include util.inline-list(0);
    margin: 0;

    a {
      margin: 0;
      @include buttons.empty(var(--hi), var(--bg), $padding: .5em 1em);
      display: inline-block;
    }
  }
}
// }}}

.translation-pager {
  display: block;
  box-sizing: border-box;
  width: 100%;
  @include buttons.empty(var(--hi), var(--bg));
  outline: none;
  border: none;
}

.translation-pager-fallback {
  display: flex;
  flex-direction: column;
  list-style: none;
}

// these are only there for the REALLY old browsers [ hi lynx :) ]
body > header,
body > footer {
  hr { display: none; }
}

.inset { @include util.block(); }

a.more-link, a.more-link:visited {
  @include buttons.empty(var(--bg), var(--hi));
  display: block;
}
