@use "sass:list";

@use "responsive";
@use "buttons";

$primary: #6331D8;
$secondary: white;

$bodyColor: $primary;
$bgColor: $secondary;
$linkColor: $primary;
$highlightColor: $primary;

:root {
  font-size: 14pt;
  font-family: 'Libre Franklin', 'Ubuntu', 'Helvetica', 'Arial', sans-serif;

  --link-color: #{$linkColor};
  --headline-color: #{$highlightColor};
  --text-color: #392F5A;
  --body-color: #{$bodyColor};
  --bg: #{$bgColor};
  --bg-shadow-color: #{darken($bgColor, 20%)};
  --bg-border: none;
  --bg-border-image: none;
  --bg-border-radius: 0;
}

::selection, ::-moz-selection {
  background-color: var(--headline-color);
  color: var(--bg);
}

time {
  font-family: monospace;
  font-size: .8em;
}

@media only print {
  body, main { background-color: transparent !important; }

  main { box-shadow: none !important; }

  body > header, body > footer { display: none !important; }
}

body {
  background: var(--body-color);
  color: var(--text-color);
}

*:target::after {
  content: "←";
  margin-left: .4em;
}

a, a:visited { color: var(--link-color); }

a.logo {
  display: block;
  > img { width: 100%; }
}

// Headlines {{{

$headline-font-sizes: [3rem, 2.5rem, 1.8rem, 1.4rem, 1.2rem, 1rem];

@for $i from 1 through 6 {
  h#{$i} {
    font-size: list.nth($headline-font-sizes, $i);
    margin: .3em 0;
    color: var(--headline-color);
  }

  h#{$i} + p {
    margin-top: 0;
  }
}

h1 { line-height: .85em; }

// }}}

body {
  display: grid;
  gap: 2rem;
}

main > *:first-child { margin-top: 0; }

@include responsive.desktop() {
  body {
    grid-template-columns: 282px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "topnav content"
      "sidebar content"
      "footer footer";
    padding: 1rem 10rem;

    > header { grid-area: topnav; }
    > aside.sidebar { grid-area: sidebar; }
    > main { grid-area: content; }
    > footer { grid-area: footer; }
  }
}

body > header,
main,
aside.sidebar,
body > footer {
  background: var(--bg);
  padding: 1em;
  box-shadow: 8px 8px 0 var(--bg-shadow-color);
}

body > footer > hr {
  display: none;
}

// Extra {{{
.inset {
  border: 5px inset var(--headline-color);
  padding: 1em;
}

.more-link {
  @include buttons.empty(var(--headline-color), var(--bg))
}

// }}}
