@use "sass:list";

@use "responsive";
@use "buttons";
@use "util";

$bg: #111;
$fg: white;
$hi: #EE4B6A;

$bodyColor: $bg;
$bgColor: $bg;

$highlightColor: $hi;
$linkColor: $hi;

$textColor: $fg;

:root {
  font-size: 14pt;
  font-family: 'Libre Franklin', 'Ubuntu', 'Helvetica', 'Arial', sans-serif;

  --bg: #{$bg};
  --fg: #{$fg};
  --hi: #{$hi};

  --link-color: #{$linkColor};
  --headline-color: #{$highlightColor};
  --text-color: #{$textColor};
  --body-color: #{$bodyColor};

  --bg-color: #{$bgColor};
}

::selection, ::-moz-selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}

time {
  font-family: monospace;
  font-size: .8em;
}

@media only print {
  body, main { background-color: transparent !important; }

  main { box-shadow: none !important; }

  body > header, body > footer { display: none !important; }
}

body {
  background: var(--body-color);
  color: var(--text-color);
}

*:target::after {
  content: "â†";
  margin-left: .4em;
}

a, a:visited { color: var(--link-color); }

a.logo {
  display: block;
  > img { width: 100%; }
}

// Headlines {{{

$headline-font-sizes: [3rem, 2.5rem, 1.8rem, 1.4rem, 1.2rem, 1rem];

@for $i from 1 through 6 {
  h#{$i} {
    font-size: list.nth($headline-font-sizes, $i);
    margin: .3em 0;
    color: var(--headline-color);
  }

  h#{$i} + p {
    margin-top: 0;
  }
}

h1 { line-height: .85em; }

// }}}

body {
  display: grid;
  gap: 2rem;
  max-width: 100vw;
}

main > *:first-child { margin-top: 0; }

// Desktop layout {{{
@include responsive.desktop() {
  body {
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "topnav content"
      "sidebar content"
      "sidebar footer";
    padding: 1rem 10rem;

    > header { grid-area: topnav; }
    > aside.sidebar { grid-area: sidebar; }
    > .content { grid-area: content; }
    > footer { grid-area: footer; }
  }
}
// }}}

body > header,
body > .content,
body > aside.sidebar,
body > footer {
  overflow: auto;
  background: var(--bg-color);
  padding: 1em;
  max-width: 100%;
}

body > .content {
  padding: 0;
  > main {
    padding: 1em;
  }
}

// Tabs {{{
body > .content > nav:first-child {
  background-color: var(--body-color);
  width: 100%;
  margin: 0;
  border-bottom: 1px solid var(--hi);

  > ul {
    @include util.inline-list;
    margin: 0;

    a {
      padding: .5em 1em;
      color: var(--text-color);
      display: inline-block;

      &[aria-current=page] {
        background-color: var(--hi);
      }
    }
  }
}
// }}}

// this is only there for the REALLY old browsers [ hi lynx :) ]
body > footer > hr { display: none; }

.inset {
  border: 5px inset var(--hi);
  padding: 1em;
}

a.more-link, a.more-link:visited {
  @include buttons.empty(var(--text-color), var(--hi))
}
