@mixin empty($fg, $bg, $padding: 6px) {
  padding: $padding;
  color: $fg;
  background-color: $bg;
  text-align: center;
  text-decoration: none;

  &[aria-current=page] {
    background-color: $fg;
    color: $bg;
  }
}
