@use "base";
@use "responsive";
@use "buttons";

.yw-webring {
  @include base.visual-block();

  @include responsive.desktop() {
    width: 60%;
  }

  margin: auto;
  text-align: center;

  .links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;

    > * {
      @include buttons.empty(var(--bg), var(--hi));

      flex-grow: 1;
      text-decoration: none;

      &:first-child { border-right: 3px solid var(--bg); }
      &:last-child { border-left: 3px solid var(--bg); }
    }
  }
}
