@use "util";

.post-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.post-list > li {
  margin: 0;
  padding: 0;

  & + li { padding-top: 1.25em; }
}

.__split-v {
  display: flex;
  align-items: center;
}

.__split-v .grow {
  flex-grow: 1;
}

.post-list-pager {
  font-size: .7rem;

  ul { @include util.inline-list() }
}
