@mixin inline-list($gap: 1em) {
  list-style: none;
  padding: 0;

  > li, > a > li {
    display: inline-block;
  }

  > *:not(:last-child) { margin-right: $gap; }
}

@mixin block() {
  padding: 1rem;
  border-left: 4px solid var(--hi);
}
