<!DOCTYPE html>

<html lang="{{ locale }}">

<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title | renderMD }} ~ YeAreBase</title>

  {# Icons {{{ #}
  {# Favicons {{{ #}
  <link rel="shortcut icon" href="/favicon.svg">
  <link rel="shortcut icon" sizes="16x16" href="/favicon-16x16.png">
  <link rel="shortcut icon" sizes="32x32" href="/favicon-32x32.png">
  <link rel="shortcut icon" sizes="48x48" href="/favicon-48x48.png">
  <link rel="shortcut icon" sizes="64x64" href="/favicon-64x64.png">
  <link rel="shortcut icon" sizes="128x128" href="/favicon-128x128.png">
  <link rel="shortcut icon" sizes="256x256" href="/favicon-256x256.png">
  <link rel="shortcut icon" sizes="512x512" href="/favicon-512x512.png">
  {# }}} #}

  <link rel="apple-touch-icon" href="/favicon-128x128.png">
  {# }}} #}
  
  {# Theme colours {{{ #}
  <meta name="theme-color" content="#EE4B6A">
  <meta name="msapplication-TileColor" content="#EE4B6A">
  {# }}} #}

  {# Google fonts {{{ #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet">
  {# }}} #}

  {# My stylesheets {{{ #}
  <link rel="stylesheet" href="/css/base.css">

  {% for ss in stylesheets %}
    <link rel="stylesheet" href="/css/{{ ss }}.css">
  {% endfor %}
  {# }}} #}

  {# Metadata {{{ #}
  {# OpenGraph {{{ #}
  <meta property="og:type" content="{{ "article" if isPost else "website" }}">
  <meta property="og:title" content="{{ title }}">
  {% if subtitle %}
    <meta property="og:description" content="{{ subtitle | renderMD | stripHTML | truncate(199, true, "…") }}">
  {% endif %}
  <meta property="og:site_name" content="YeAreBase">
  <meta property="og:locale" content="{{ locale }}">
  {# }}} #}

  {# Twitter {{{ #}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@tadeassoucek">
  <meta name="twitter:site" content="@YeAreBase">
  {# }}} #}
  {# }}} #}
</head>

{% macro translationPager() -%}
  <select class="translation-pager" style="display: none">
    <option value=".">{{ locale | getLang }}</option>
    {%- for l in 0 | allLangs -%}
      {%- if l != locale and translations and l in translations -%}
        <option value="{{ translations[l] }}">{{ l | getLang }}</option>
      {%- endif -%}
    {%- endfor -%}
  </select>
  
  <noscript>
    <div class="translation-pager-fallback">
      {%- for l in 0 | allLangs -%}
        {%- if l == locale -%}
          <li aria-current="page">{{ l | getLang }}</li>
        {%- elif translations and l in translations -%}
          <a href="{{ translations[l] }}"><li>{{ l | getLang }}</li></a>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </noscript>
{% endmacro %}

<body>
  {# Header {{{ #}
  <header>
    {%- set homeURL = '/' + ('' if locale == 'en' else locale + '/') -%}
    <a class="logo" href="{{ homeURL }}"> {#- -#}
      <img src="/res/img/logo-colour-scheme.svg" alt="YeAreBase"> {#- -#}
    </a>
    <nav>
      {{- translationPager() -}}
    </nav>
    <hr>
  </header>
  {# }}} #}

  <div class="content">
    {# Tab bar {{{ #}
    <nav class="tab-bar">
      <ul>
        {% macro _link(text, url) %}
          {% if not url %} {% set url = "/" + text + '/' %} {% endif %}
          <a href="{{ url }}{{ locale + "/" if locale != "en" else "" }}"
             {%- if section == text %} aria-current="page" {%- endif %}>
            <li>{{ text | t(locale) | lcapitalize(locale) }}</li>
          </a>
        {% endmacro %}

        {{- _link("home", "/") -}}
        {{- _link("all") -}}
        {{- _link("blog") -}}
        {{- _link("poems") -}}
        {{- _link("about") -}}
        {{- _link("updates") -}}
      </ul>
    </nav>
    {# }}} #}

    <script>
      function attachListener(el) {
        el.addEventListener('change', function(ev) {
          window.location = ev.target.value;
        });
      }

      Array.from(document.getElementsByClassName("translation-pager")).forEach(function(el) {
        el.style.display = "block";
        attachListener(el);
      });
    </script>

    <main>
      {{ content }}
    </main>
  </div>

  {# Footer {{{ #}
  <footer>
    <hr>

    {# Licence notice {{{ #}
    <p>
      {%- if locale == "cs" -%}
        <a href="https://github.com/yearebase/yearebase.github.io">Kód této stránky</a> je licencován pod
        <a href="https://opensource.org/licenses/MIT">licencí MIT</a>.
      {%- else -%}
        <a href="https://github.com/yearebase/yearebase.github.io">This website’s code</a> is licenced under the
        <a href="https://opensource.org/licenses/MIT">MIT licence</a>.
      {% endif %}

      {% if isPost %}
        {% if locale == "cs" %}
          Tento text je licencován pod
        {% else %}
          This text is licenced under
        {% endif %}
        <a href="{{ (license and license.url) or "https://creativecommons.org/licenses/by/4.0/" }}">
          {{- (license and license.name) or "CC BY 4.0" -}}
        </a>.
      {% endif %}

      {% if locale == "cs" %}
        Pokud jste našli chybu, <a href="/about/cs/#contact">napište mi.</a>
      {% else %}
        If you’ve found a mistake, <a href="/about/#contact">contact me.</a>
      {% endif %}
    </p>

    {# }}} #}
  </footer>
  {# }}} #}

</body>

</html>
