<!DOCTYPE html>

<html lang="{{ locale }}">

<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title | renderMD }} &bull; YeAreBase</title>

  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/landscape.css" media="only screen and (orientation: landscape)">

  {% for ss in stylesheets %}
    <link rel="stylesheet" href="/css/{{ ss }}.css">
  {% endfor %}
</head>

<body id="top">
  <header>
    <a href="/{{ locale }}/">ye<b>are</b>base</a>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <ul>
      <li>
        <a href="https://github.com/yearebase/yearebase.github.io">This website’s code</a> is licenced under the
        <a href="https://opensource.org/licenses/MIT">MIT licence</a>.
      </li>
      {% if layout == "post" %}
        <li>
          This text is licenced under
          <a href="{{ (license and license.url) or "https://creativecommons.org/licenses/by/4.0/" }}">
            {{- (license and license.name) or "CC BY 4.0" -}}
          </a>.
        </li>
      {% endif %}
      <li><a href="#top">Go to top.</a></li>
    </ul>
  </footer>
</body>

</html>
