<!DOCTYPE html>

<html lang="{{ locale }}">

<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title | renderMD }} ~ YeAreBase</title>

  <link rel="shortcut icon" href="/favicon.svg">
  <link rel="shortcut icon" sizes="16x16" href="/favicon-16x16.png">
  <link rel="shortcut icon" sizes="32x32" href="/favicon-32x32.png">
  <link rel="shortcut icon" sizes="48x48" href="/favicon-48x48.png">
  <link rel="shortcut icon" sizes="64x64" href="/favicon-64x64.png">
  <link rel="shortcut icon" sizes="128x128" href="/favicon-128x128.png">
  <link rel="shortcut icon" sizes="256x256" href="/favicon-256x256.png">
  <link rel="shortcut icon" sizes="512x512" href="/favicon-512x512.png">

  <link rel="apple-touch-icon" href="/favicon-128x128.png">
  
  <meta name="theme-color" content="#191919">
  <meta name="msapplication-TileColor" content="#191919">

  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/res/fonts/outward/outward.css">
  <link rel="stylesheet" href="/res/fonts/karrik/karrik.css">

  {% if not theme %} {% set theme = "default" %} {% endif %}
  <link rel="stylesheet" href="/css/themes/{{ theme }}/theme.css">

  {% for ss in stylesheets %}
    <link rel="stylesheet" href="/css/{{ ss }}.css">
  {% endfor %}

  <meta property="og:type" content="{{ "article" if isPost else "website" }}">
  <meta property="og:title" content="{{ title }}">
  {% if subtitle %}
    <meta property="og:description" content="{{ subtitle | renderMD | stripHTML | truncate(199, true, "…") }}">
  {% endif %}
  <meta property="og:site_name" content="YeAreBase">
  <meta property="og:locale" content="{{ locale }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@tadeassoucek">
</head>

{% macro translationPager() -%}
  <nav>
    <ul>
      {%- for l in 0 | allLangs -%}
        {%- if l == locale -%}
          <li aria-current="page">{{ l | getLang }}</li>
        {%- elif translations and l in translations -%}
          <a href="{{ translations[l] }}"><li>{{ l | getLang }}</li></a>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </nav>
{% endmacro %}

<body>
  <header>
    {% set homeURL = '/' + ('' if locale == 'en' else locale + '/') %}
    <a class="logo" href="{{ homeURL }}">ye<b>are</b>base</a>
    {{ translationPager() }}
    <a {% if title == "About" %} aria-current="page" {% endif %} href="/about/{{ ('' if locale == 'en' else 'cs/') }}">about</a>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <hr>

    <nav>
      <ul>
        {%- if locale == "cs" -%}
          <li><a href="{{ homeURL }}">Domů</a></li> {#- -#}
          <li><a href="#">Zpět nahoru</a></li>
        {%- else -%}
          <li><a href="{{ homeURL }}">Go home</a></li> {#- -#}
          <li><a href="#">Go to top</a></li>
        {%- endif -%}
      </ul>
    </nav>

    {{ translationPager() }}

    <ul class="license-notice"> {#- -#}
      <li>
        {%- if locale == "cs" -%}
          <a href="https://github.com/yearebase/yearebase.github.io">Kód této stránky</a> je licencován pod
          <a href="https://opensource.org/licenses/MIT">licencí MIT</a>.
        {%- else -%}
          <a href="https://github.com/yearebase/yearebase.github.io">This website’s code</a> is licenced under the
          <a href="https://opensource.org/licenses/MIT">MIT licence</a>.
        {%- endif -%}
      </li>

      {%- if isPost -%}
        <li>
          {%- if locale == "cs" -%}
            Tento text je licencován pod
          {%- else -%}
            This text is licenced under
          {%- endif %}
          <a href="{{ (license and license.url) or "https://creativecommons.org/licenses/by/4.0/" }}">
            {{- (license and license.name) or "CC BY 4.0" -}}
          </a>.
        </li>
      {%- endif -%}
    </ul>
  </footer>
</body>

</html>
