---js
{
  layout: "base",
  eleventyComputed: {
    stylesheets: data => [...(data.stylesheets || []), "index"]
  }
}
---

<p><a href="/{{ locale }}/about/">What is this?</a></p>

{% from "date.njk" import showDate %}

<ul class="post-list">
  {% for post in collections.post %}
    <li>
      <div>
        {{ showDate(post.data.date) }}
      </div>
      <a class="title" href="{{ post.url }}">
        <h2>{{ post.data.title | renderMD }}</h2>
      </a>
      {% if post.data.subtitle %}
        <h3 role="doc-subtitle">{{ post.data.subtitle }}</h3>
      {% endif %}
    </li>
  {% endfor %}
</ul>
