---js
{
  layout: "base",
  eleventyComputed: {
    stylesheets: data => [...(data.stylesheets || []), "post-list", "post-header"]
  }
}
---

{% from "date.njk" import showDate %}

{% from "post.njk" import showPost %}

<ul class="post-list">
  {% for post in collections[postList.selector] | reverse %}
    {{ showPost(post, locale) }}
  {% endfor %}
</ul>
