---js
{
  layout: "base",
  isPost: true,
  eleventyComputed: {
    stylesheets: data => [...(data.stylesheets || []), "post", "post-header"]
  }
}
---

{% from "post.njk" import header %}

<header>
  {{ header({ "data": { "title": title, "subtitle": subtitle, "date": date, "tags": tags } }, locale, link = false) }}
</header>

{{ content }}
