@charset "UTF-8";
:root {
  font-size: 14pt;
  font-family: "Ubuntu", "Arial", "Helvetica", sans-serif;
  --link-color: #1d036d;
  --headline-color: #1d036d;
  --text-color: black;
  --bg: #7dbea6;
  --bg-shadow-color: #478e74;
  --bg-border: none;
  --bg-border-image: none;
  --bg-border-radius: 0;
}

::selection, ::-moz-selection {
  background-color: var(--headline-color);
  color: var(--bg);
}

@media only print {
  body, main {
    background-color: transparent !important;
  }

  main {
    box-shadow: none !important;
  }

  body > header, body > footer {
    display: none !important;
  }
}
body {
  background: #1d036d;
}

*:target::after {
  content: "←";
  margin-left: 0.4em;
}

a, a:visited {
  color: var(--link-color);
}

a.logo {
  display: block;
  text-align: center;
  color: var(--headline-color);
  font-family: "Outward", sans-serif;
  font-size: 128pt;
  text-decoration-thickness: 16px;
}

h1 {
  font-size: 3rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h1 + p {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h2 + p {
  margin-top: 0;
}

h3 {
  font-size: 1.8rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h3 + p {
  margin-top: 0;
}

h4 {
  font-size: 1.4rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h4 + p {
  margin-top: 0;
}

h5 {
  font-size: 1.2rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h5 + p {
  margin-top: 0;
}

h6 {
  font-size: 1rem;
  margin: 0.3em 0;
  color: var(--headline-color);
}

h6 + p {
  margin-top: 0;
}

body {
  display: grid;
  gap: 2rem;
}

main > *:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 1200px) {
  body {
    grid-template-columns: 282px 1fr;
    grid-template-areas: "topnav content" "sidebar content" "footer footer";
    padding: 1rem 10rem;
  }
  body > header {
    grid-area: topnav;
  }
  body > aside.sidebar {
    grid-area: sidebar;
  }
  body > main {
    grid-area: content;
  }
  body > footer {
    grid-area: footer;
  }
}
body > header > nav > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
body > header > nav > ul > * {
  flex-grow: 1;
  display: block;
  border: 6px solid var(--headline-color);
  padding: 6px;
  color: var(--headline-color);
  background-color: var(--bg);
  text-align: center;
  text-decoration: none;
}
body > header > nav > ul > *[aria-current=page] {
  background-color: var(--headline-color);
  color: var(--bg);
}
body > header > a:last-child {
  display: block;
  border: 6px solid var(--headline-color);
  padding: 6px;
  color: var(--headline-color);
  background-color: var(--bg);
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0;
  border-top: none;
}
body > header > a:last-child[aria-current=page] {
  background-color: var(--headline-color);
  color: var(--bg);
}

body > header,
main,
body > footer {
  background: var(--bg);
  padding: 1em;
  box-shadow: 8px 8px 0 var(--bg-shadow-color);
}

body > footer > hr {
  display: none;
}

.inset {
  border: 5px inset var(--headline-color);
  padding: 1em;
}

.more-link {
  display: block;
  border: 6px solid var(--headline-color);
  padding: 6px;
  color: var(--headline-color);
  background-color: var(--bg);
  text-align: center;
  text-decoration: none;
}
.more-link[aria-current=page] {
  background-color: var(--headline-color);
  color: var(--bg);
}

/*# sourceMappingURL=base.css.map */
