pre, code {
  font-size: .9rem;
}

pre {
  width: 100%;
  padding: 0 .7em;
  overflow-x: auto;
  box-sizing: border-box;
  border-left: 5px solid var(--text-color);
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-symbol,
.hljs-bullet,
.hljs-section,
.hljs-addition,
.hljs-attribute,
.hljs-link {
  color: #00000060
}

.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion,
.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-name,
.hljs-type,
.hljs-strong {
  font-weight: bold;
}
