@import url("post-header.css");

.post-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.post-list li {
  margin: 0;
  padding: .75em 1em;
  border-left: 1px solid #000411;
}

.post-list li + li {
  margin-top: 2em;
}

.title {
  font-size: 1.3em;
}

.title > * {
  margin: 0;
}

.__split-v {
  display: flex;
  align-items: center;
}

.__split-v .grow {
  flex-grow: 1;
}

.post-list-pager {
  font-size: .8em;
}

[role="doc-subtitle"] {
  font-size: 1.2em;
}

main > p:first-child {
  margin: 0;
}

main > p:first-child a {
  display: block;
  background-color: white;
  color: black;
  text-align: center;
  padding: .8em;
  text-decoration: none;
}
