.update-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.update-list li + li {
  margin-top: .7rem;
}

.update-list .date {
  display: block;
  margin-bottom: .2rem;
  font-size: .7rem;
}

.update-list li > div {
  display: flex;
  flex-direction: row;
}

.update-list .title, .update-list .summary {
  margin: 0;
}

.update-list .title {
  font-size: 1rem;
  font-weight: bold;
  margin-right: .7rem;
  padding-right: .7rem;
  border-right: 2px solid var(--text-color);
}

.update-list .summary { font-size: .8rem; }
