---
locale: cs
layout: base

title: Updaty

stylesheets: [update-list]

translations:
  en: .. 
  tok: ../tok
---

{%- from "update.njk" import showUpdate -%}

<ul class="update-list">
  {%- for u in updates -%}
    {{- showUpdate(u, locale) -}}
  {%- endfor -%}
</ul>
