---
locale: tok
layout: base

title: lipu ante

stylesheets: [update-list]

translations:
  en: ..
  cs: ../cs
---

{%- from "update.njk" import showUpdate -%}

<ul class="update-list">
  {%- for u in updates -%}
    {{- showUpdate(u, locale) -}}
  {%- endfor -%}
</ul>
