@font-face {
  font-family: 'Karrik';
  src: url('./Karrik-Regular.woff2') format('woff2')
    url('./Karrik-Regular.woff') format('woff')
    url('./Karrik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karrik';
  src: url('./Karrik-Italic.woff2') format('woff2')
    url('./Karrik-Italic.woff') format('woff')
    url('./Karrik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
