---
locale: en

title: Capitol
date: 2021-01-07
---

{% poem %}
  {% stanza %}
    {% l %} Fascists roam ‘round the Capitol {% endl %}
    {% l %} Like rebels without a cause: {% endl %}
    {% l %} The unheard with nothing to say {% endl %}
    {% l %} But who speak without a pause {% endl %}
  {% endstanza %}
{% endpoem %}
