---
locale: cs

title: HRRR
date: 2022-02-22
---

{% poem %}
  {% stanza %}
    {% l %} Naše kosti hnijí zevnitř {% endl %}
    {% l %} Naše svaly zvnějšku – {% endl %}
    {% l %} Zbytky lebek pod podrážkami {% endl %}
    {% l %} Dodávají nám vejšku. {% endl %}
  {% endstanza %}

  {% stanza %}
    {% l %} Věříme v své vlastní nohy {% endl %}
    {% l %} A ne v to, co zdupou – {% endl %}
    {% l %} Jednotlivci sami nejsme {% endl %}
    {% l %} Pospolu jsme tlupou. {% endl %}
  {% endstanza %}

  {% stanza %}
    {% l %} Naše údy mechanické {% endl %}
    {% l %} Sají saze, olej, zkázu – {% endl %}
    {% l %} V našich stopách kytky rodí {% endl %}
    {% l %} Vznešenost a vůně krásu. {% endl %}
  {% endstanza %}

  {% stanza %}
    {% l %} Nymfy dávno vyhnali jsme {% endl %}
    {% l %} Kostely se drolí – {% endl %}
    {% l %} A těm, co ne, přeochotně {% endl %}
    {% l %} Pomáháme holí. {% endl %}
  {% endstanza %}

  {% stanza %}
    {% l %} Slunné sny o betonu {% endl %}
    {% l %} O vraždě a o atomu – {% endl %}
    {% l %} Však my už dáme tomu {% endl %}
    {% l %} kdo {% endl %}
    {% l %} <span class="phantom">kdo</span> by {% endl %}
    {% l %} <span class="phantom">kdo by</span> s {% endl %}
    {% l %} <span class="phantom">kdo by s</span> námi {% endl %}
    {% l %} <span class="phantom">kdo by s námi</span> chtěl{% endl %}
    {% l %} <span class="phantom">kdo by s námi chtěl</span> si{% endl %}
    {% l %} <span class="phantom">kdo by s námi chtěl si</span> hrát!{% endl %}
  {% endstanza %}
{% endpoem %}
