---
locale: cs 

title: Mlhy
date: 2021-09-22
---

{% poem %}
  {% stanza %}
    {% l %} Bahno hltá vše co může, {% endl %}
    {% l %} Lilie sklání hlavy – {% endl %}
    {% l %} Zemi popraskala kůže, {% endl %}
    {% l %} Derou se z ní páry. {% endl %}
  {% endstanza %}

  {% stanza %}
    {% l %} Mlhy líně válejí se, {% endl %}
    {% l %} Červi šijí zdechlinou – {% endl %}
    {% l %} Domů nikdy nevrátím se, {% endl %}
    {% l %} Budu jedním s krajinou. {% endl %}
  {% endstanza %}
{% endpoem %}
