---
locale: cs 
layout: poem

title: Mrtvolka v pancíři
date: 2021-09-18
---

{% poem %}
  {% stanza %}
    {% l %} V písku {% endl %}
    {% l %} Omývaná vlnami {% endl %}
    {% l %} Smutně leží {% endl %}
    {% l %} Mrtvolka— {% endl %}
    {% l %} Bříško vzhůru {% endl %}
    {% l %} Pancíř k zemi. {% endl %}
    {% l %} Klepetami, těmi {% endl %}
    {% l %} O milost prosí {% endl %}
    {% l %} Bohy korýší {% endl %}
    {% l %} A ti neodpovídají. {% endl %}
  {% endstanza %}
{% endpoem %}
