---
locale: tok

title: tenpo ale
date: 2022-05-14
---

{% poem %}
  {% stanza %}
    {% l %} sike suli li moli. {% endl %}
    {% l %} sewi li lon e sike sin. {% endl %}
    {% l %} sike sin li kama suli, {% endl %}
    {% l %} li moli, li kama isipin. {% endl %}
  {% endstanza %}
  {% stanza %}
    {% l %} sike ale la, ale li sama. {% endl %}
    {% l %} taso ale li ante. {% endl %}
    {% l %} tenpo sin li kama, {% endl %}
    {% l %} li moli, li kama lete. {% endl %}
  {% endstanza %}
{% endpoem %}

<p><small>nimi “isipin” li nimi ku lili, li sama e nimi “sitelen lawa”.</small></p>
