---
locale: cs
layout: poem

title: Vážní lidé
date: 2021-09-22
---

{% poem %}
  {% stanza %}
    {% l %} Beze jmen a {% endl %}
    {% l %} Beze tváří. {% endl %}
    {% l %} Spojení jen destinací. {% endl %}
    {% l %} V sebe sama pohroužení. {% endl %}
    {% l %} Nemluvíme. {% endl %}
    {% l %} Stoičtí jsme. {% endl %}
  {% endstanza %}
  {% stanza %}
    {% l %} Jsme vážní lidé. {% endl %}
    {% l %} Každý svůj vlastní svět má {% endl %}
    {% l %} A svůj kříž. {% endl %}
    {% l %} Jsme vážní lidé. {% endl %}
    {% l %} Praha nás zná {% endl %}
    {% l %} A Paříž. {% endl %}
  {% endstanza %}
{% endpoem %}
