---
locale: cs

title: Zpěv lásky
date: 2021-09-01
---

{% poem %}
  {% stanza %}
    {% l %} Piješ kouř z mé cigarety {% endl %}
    {% l %} Jako vodu z kašny mládí. {% endl %}
    {% l %} Zpíváme si kuplety {% endl %}
    {% l %} Přes klín zbraní bráněný. {% endl %}
    {% l %} Klín mezi nás vražený. {% endl %}
  {% endstanza %}
  {% stanza %}
    {% l %} Tvoje ústa, dříve živa {% endl %}
    {% l %} Teď pijí kouř z ústí hlavně {% endl %}
    {% l %} Zbraně, která brání klín. {% endl %}
    {% l %} Zbraně – zrezlé, erární. {% endl %}
    {% l %} Tvá díra v hlavě pláče krev {% endl %}
    {% l %} A já vedle tiše s ní. {% endl %}
  {% endstanza %}
{% endpoem %}
