---
layout: poem
title: tenpo ali
publicDomain: true
---

{% poem %}
  {% stanza %}
    {% l %} sike suli li moli. {% endl %}
    {% l %} sewi li lon e sike sin. {% endl %}
    {% l %} sike sin li kama suli, {% endl %}
    {% l %} li moli, li kama isipin. {% endl %}
  {% endstanza %}

  {% stanza %}
    {% l %} sike ali, la ale li sama. {% endl %}
    {% l %} taso ali li ante. {% endl %}
    {% l %} tenpo sin li kama, {% endl %}
    {% l %} li moli, li kama lete. {% endl %}
  {% endstanza %}
{% endpoem %}
