:root {
  --link-color: #ddd;
  --bg-color: transparent;
  --bg-border: none;
  --text-color: white;
}

body {
  background-color: black;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(7,7,93,1) 82%, rgba(53,0,66,1) 100%);
  background-size: 32px;
}
