---
locale: cs
layout: base

section: home

stylesheets: [update-list, post-list, post-header, index]

translations:
  en: ..
  tok: ../tok
---

<h1>Vítejte na mojí stránce!</h1>

<div class="split-v">
  {% from "post.njk" import showPostListPreview %}
  {{ showPostListPreview(collections.post | reverse, 3, locale) }}

  {% from "update.njk" import showUpdateListPreview %}
  {{ showUpdateListPreview(updates, 3, locale) }}
</div>

<p>Chcete vědět, o co kráčí? Podívejte se na sekci <a href="/about/cs/">About!</a></p>
