---
locale: en
layout: base

title: Home
section: home

stylesheets: [update-list, post-list, post-header, index]

translations:
  cs: cs
  tok: tok
---

<h1>Welcome to my website!</h1>

<div class="split-v">
  {% from "post.njk" import showPostListPreview %}
  {{ showPostListPreview(collections.post | reverse, 3, locale) }}

  {% from "update.njk" import showUpdateListPreview %}
  {{ showUpdateListPreview(updates, 3, locale) }}
</div>

<p>Wanna know what this is about? Head over to the helpfully titled <a href="/about/">About page!</a></p>

{% from "webring.njk" import webring %}
{{ webring(locale) }}
