---
locale: tok
layout: base

title: lipu lawa
section: home

stylesheets: [update-list, post-list, post-header, index]

translations:
  en: ..
  cs: ../cs
---

<h1>toki! ni li lipu mi pi ilo nanpa</h1>

<div class="split-v">
  {% from "post.njk" import showPostListPreview %}
  {{ showPostListPreview(collections.post | reverse, 3, locale) }}

  {% from "update.njk" import showUpdateListPreview %}
  {{ showUpdateListPreview(updates, 3, locale) }}
</div>

<p>sina wile ala wile sona e tan pi lipu ni pi ilo nanpa? wile la, o tawa <a href="/about/tok/">lipu About!</a></p>

{% from "webring.njk" import webring %}
{{ webring(locale) }}
